@import url('https://fonts.googleapis.com/css2?family=Poppins');


* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root {
    --margin-padrao: 2rem;
    --margin-interna-padrao: 2rem;
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #222222;
    --background-primary: #000000;
    --background-secondary: #0F0F0F;
    --action-color: #700000;
    --action-secondary-color: #B00000;

    --font-size-xl: 2.5rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.8rem;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary-color);

    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-secondary);

    padding-left: 4rem;
    padding-right: 4rem;

    width: 100%;
    height: 4rem;
}

header > nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    list-style: none;
}

header > nav > ul > li > a {
    color: var(--text-primary-color);
    text-decoration: none;

    position: relative;
    transition: all 50ms ease-in;
}


header > nav > ul > li > a::before {
    content: '';
    width: 0%;
    border-bottom: 0.2rem solid #ff0000;
}

header > nav > ul > li > a:hover, a::before {
    content: '';
    width: 100%;
    border-bottom: 0.2rem solid #FFFFFF;
}

.logo {
    filter: brightness(0.7);
    width: 10rem;
    height: auto;
}



main {
    width: 100%;
    min-height: auto;
    padding-left: var(--margin-padrao);
    padding-right: var(--margin-padrao);

    margin-bottom: 2rem;

    background-color: var(--background-primary);
}


.destaque {
    background-color: var(--background-secondary);
    border-radius: 20px;

    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 1rem;

    padding: 1rem var(--margin-interna-padrao);

    display: flex;
    flex-direction: column;
}

.destaque > h1 {
    color: var(--text-primary-color);

    font-size: var(--font-size-xl);
    text-align: start;
    font-weight: 500;
}

#titledestaque {
    background: linear-gradient(to right, var(--action-color), var(--action-secondary-color));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.destaque > img {
    margin-top: 0.3rem;
    width: 100%;
    height: 80vh;
    object-position: center;
    object-fit: cover;

    border-radius: 20px;
}

.destaque > article {
    margin-top: 2rem;
}

.destaque > article > h2 {
    font-size: var(--font-size-large);
}

.destaque > article > p {
    font-size: var(--font-size-small);
    margin: 0.5rem 0;
}

.recomendados {
    position: relative;
}

.recomendados > h2 {
    margin: 0.7rem 0;
    /* position: absolute;  */
    font-size: var(--font-size-large);
}

.iframe-container {
    margin-top: 2rem;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 80%;
    height: 50vh;
    border-radius: 10px;

    border: 1px solid var(--action-color);
}

.grid-filmes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

    gap: 0.5rem;

    width: 100%;
    height: 150vh;
}

.grid-span-col-2 {
   grid-column-start: span 2;
}

.grid-span-col-3 {
   grid-column-start: span 3;
}

.grid-span-row-2 {
    grid-row-start: span 2;
 }

.grid-span-row-3 {
    grid-row-start: span 3;
}

  
.container-filmes {
    width: 100%;
    height: 100%;
    scale: 0.96;

    border-radius: 5px;
    transition: all 300ms ease-in;
    border: 2px solid var(--action-secondary-color);

    filter: brightness(0.6) grayscale(1);
    overflow: hidden;
    position: relative;
}

.container-filmes > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;
}

  
.container-filmes:hover {
    scale: 1.03;
    filter: brightness(1)  grayscale(0); 
}

.container-filmes:hover > img {
    animation: filmeroad 2.5s infinite alternate-reverse ease-in-out;
}

.container-filmes > a {
    border-radius: 10px 0 0 10px;
    width: fit-content;
    position: absolute;
    bottom: 2rem;
    right: 0;
    
    color: var(--text-primary-color);
    background-color: var(--action-secondary-color);
    
    font-size: var(--font-size-large);
    opacity: 0;
}


.container-filmes > a > h6 {
    padding: 0 2rem;
}

.container-filmes:hover > a {
    opacity: 1;
}


@keyframes filmeroad {
    0% {
        object-position: bottom left;
    }

    50% {
        object-position: center right;
    }

    100% {
        object-position: top left;
    }
}


footer {    
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
 
    /* text-align: center; */
}